@import url('https://fonts.cdnfonts.com/css/gilroy-bold?styles=20876,20879');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    scroll-behavior: smooth;
    font-family: 'Gilroy-Bold', sans-serif;
    color: #000;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    background-color: #FFFFFF;
}

img{
    max-width: 100%;
    display: block;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

header{
    padding: 40px 0px ;
    margin-bottom: 84px;
}

.nav_title {
    color: #000;
    font-size: 24px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.nav_logo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 14px;
}

.nav_link{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 16px;
}

.navigation a{
    color: #000;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 14px;
}

.color_y{
    color: #F25822;
}

main{
}

.main-content{
    display: flex;
    margin-bottom: 162px;
}

.main-content_wraper{

}

.main-content_wraper h2{
    color: #000;
    font-size: 60px;
    margin-bottom: 17px;
}

.main-content_wraper p{
    color: #888;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 20px;
    margin-bottom: 37px;
}

.main-content_btn{
    display: flex;
    gap: 72px;
    align-items: center;
}

.main-content_btn .main_btn{
    color: #FFF;
    font-size: 15px;
    padding: 15px 35px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    cursor: pointer;
    border: none;
}

.main-content_btn a{
    color: #AAA;
    font-size: 15px;
}


.logos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.cards-list{
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
}

.card{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card img{
    margin-bottom: 25px;
}

.card h4{
    color: #000;
    font-size: 24px;
    margin-bottom: 17px;
}

.card p{
    color: #666;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 15px;
    line-height: 150%;
    margin-bottom: 25px;
}

.card a{
    color: #000;
    font-size: 11px;
    line-height: 150%;
}

.card-mid{
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.info_background{
    background-color: #FAFAFA;;
}

.info-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
}

.info-table h3{
    color: #000;
    font-size: 45px;
    margin-bottom: 19px;
}

.info-table p{
    color: #666;
    text-align: center;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 50px;
}

.card-list-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 100px;
}

.card-info{
    padding: 30px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_title{
    color: #000;
    font-size: 24px;
    margin-bottom: 22px;
}

.info_p{
    color: #AAA;
    text-align: center;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 15px;
    line-height: 150%;
    margin-bottom: 30px;
}

.info_btn{
    color: #FFF;
    font-size: 15px;
    padding: 15px 35px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    cursor: pointer;
    border: none;
}
